*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background-color: black;
  color: #444;
}

main {
  text-align: center;
  text-transform: capitalize;
  margin-top: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem ;
  margin-top: 20px;
  margin-left: 20px;
}

form .input--container {
  max-width: 100%;
  display: flex;
  gap: 1rem;
}

form  input {
  padding: 5px;
  width: 80%;
  outline: none;
}

.input--container button {
  padding: 5px 10px;
}

.movie--container {
  /* border: 1px solid green; */
  display: flex;
  gap: 2rem 1rem;
  padding: auto 50px;
  flex-wrap: wrap;
  margin-top: 20px;

}

.movie--grid {
  margin: 0 auto;
  width: 270px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* padding-bottom: 10px; */
  /* margin-bottom: 10px; */
  /* display:  grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,100%), 1fr); */
}

.movie--grid img {
  width: 100%;
  /* border-radius: 5px; */
}

.movie--grid p {
  font-size: 1rem;
  color: #fff;
  margin-left: 10px;
  
}